  <div class="list-container">
    <h2 class="list-title">Up Close. Personal.</h2 class="list-title">
      <ul>
        <li> August 30, 2017. 8PM. <a href="https://www.facebook.com/events/322228644901317/">Substation</a></li>
        <li> Album Release Show. October 7, 2017. 7PM. <a href="">Stone Way Cafe</a></li>
      </ul>
  </div>