  <div class="list-container">
    <h2 class="list-title"> We are watching you watching us</h2 class="list-title">
      <ul>
        <li><a target="_blank" href="http://www.earbuddy.net/68791/premiere-monitor-wytches.html/listen">Ear Buddy's premier of 'Wytches'</a></li>
        <li><a target="_blank" href="http://www.imposemagazine.com/bytes/new-music/monitor-memorand">Impose Magazine's premier of 'Memorand'</a></li>
      </ul>
  </div>